/* MAP */

#map {
  background-color: grey;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  height: 300px;
  width: 600px;
}

/* all controls located on bottom */
.leaflet-bottom {
  width: 95%;
}

.leaflet-control-attribution {
  /*
    hiding from map pane rather than separate attribution
    entirely in case of map div being reused elsewhere
  */
  display: none;
}

/* the bar upon which the sliding occurs */
#leaflet-slider {
  width: 100% !important;
}

/* contains all the slider components */
.slider {
  width: 100%;
}

/* the date which is displayed above slider when dragged */
#slider-timestamp {
  margin: auto;
}


/* using important tag to override inline styles defined
   in the slider JS library
*/
#slider-timestamp {
  margin-top: -20px !important;
}

/* SIDE NAV */

.contractProperties {
  max-height: 200px;
  overflow: scroll;
}

/* CONTRACTS TABLE */

table {
  font-size: 11px;
}

.table-col-sorted {
  color: black;
  font-weight: bold;
  pointer-events: none;
}

/* PIE CHARTS */

/* Note: width and height being controlled in the
   piechart implementation
*/

/* label lines */
polyline {
  fill: none;
  stroke: #333;
  stroke-width: 1px;
}

/* labels */
.graph_label {
  font-size: 12px;
}

/* destination class */
.dclass_within_county {
  fill: #DCDC61;
}

.dclass_proximate_county {
  fill: #DCAF61;
}

.dclass_north_or_south_border {
  fill: #AC61DC;
}

.dclass_north {
  fill: #6161DC;
}

.dclass_internal_south {
  fill: #D68080;
}

.dclass_internal_or_deep_south {
  fill: #993D3D;
}

.dclass_unknown {
  fill: grey;
}

/* gender */
.gender_female {
  fill: #98abc5; /* light blue */
}

.gender_male {
  fill: #8a89a6; /* lavender */
}

.gender_unknown {
  fill: #6b486b; /* plum */
}

/* group */
.group_group {
  fill: #767471;
}

.group_individual {
  fill: #EAB360;
}

.group_family {
  fill: #D5D211;
}

.group_unknown {
  fill: grey;
}

/* occupation */
.occupation_agricultural {
  fill: #5FAA6F;
}

.occupation_domestic {
  fill: #D4E892;
}

.occupation_laborer {
  fill: #677145;
}

.occupation_other {
  fill: #186D23;
}

.occupation_unknown {
  fill: #D6DCD7;
}
