/* MAP */

#map {
  background-color: grey;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  height: 300px;
  width: 600px;
}

/* using important tag to override inline styles defined
   in the slider JS library
*/
#slider-timestamp {
  margin-top: -20px !important;
}

/* SIDE NAV */

.contractProperties {
  max-height: 200px;
  overflow: scroll;
}

/* CONTRACTS TABLE */

table {
  font-size: 11px;
}

/* PIE CHARTS */

/* Note: width and height being controlled in the
   piechart implementation
*/

/* destination class */
.dclass_Same_County {
  fill: #DCDC61;
}

.dclass_Within_State_or_Nearby {
  fill: #DCAF61;
}

.dclass_North_or_South_Border {
  fill: #AC61DC;
}

.dclass_North {
  fill: #6161DC;
}

.dclass_Internal_South {
  fill: #D68080;
}

.dclass_Internal_or_Deep_South {
  fill: #993D3D;
}

.dclass_Unknown {
  fill: grey;
}

/* gender */
.gender_female {
  fill: #98abc5; /* light blue */
}

.gender_male {
  fill: #8a89a6; /* lavender */
}

.gender_unknown {
  fill: #6b486b; /* plum */
}

/* occupation */
.occupation_agricultural {
  fill: #5FAA6F;
}

.occupation_domestic {
  fill: #D4E892;
}

.occupation_laborer {
  fill: #677145;
}

.occupation_other {
  fill: #186D23;
}

.occupation_unspecified {
  fill: #D6DCD7;
}
