/* MAP */

#map {
  background-color: grey;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  height: 300px;
  width: 600px;
}

/* using important tag to override inline styles defined
   in the slider JS library
*/
#slider-timestamp {
  margin-top: -20px !important;
}

/* SIDE NAV */

.contractProperties {
  max-height: 200px;
  overflow: scroll;
}

/* CONTRACTS TABLE */

table {
  font-size: 11px;
}

/* PIE CHARTS */

#gender_svg {
  /* because of calculations which use width / height
     this is being controlled at the top of the gender.js file */
}

.gender_female {
  fill: #98abc5; /* light blue */
}

.gender_male {
  fill: #8a89a6; /* lavender */
}

.gender_unknown {
  fill: #6b486b; /* plum */
}
